# Config files
*.json
email_links.txt

# virtualenv
VIRTUALENV/
env/

# Output artifacts
drivers/
logs/
geckodriver.log
.vs/
NOTEPAD++-AUTOCONVERT.txt
debug.log
debug*

# JetBrains
.idea/

# cached python objects
*.pyc
*.pyo
.DS_Store
__pycache__/