# Config files
*.json
email_links.txt

# virtualenv
env/

# Output artifacts
drivers/
logs/
geckodriver.log
.vs/

# JetBrains
.idea/

# cached python objects
*.pyc
*.pyo
.DS_Store
__pycache__/

# Macros
Notepad++Macros/